.App {
  display: flex;
}

.App > div {
  flex: 1;
  padding: 0 70px;
}

nav {
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 0 1 150px;
  height: 100vh;
}

ul {
  list-style-type: none;
  padding: initial;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

nav > ul {
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: gray;
}

nav a.active {
  color: hotpink;
}

.new-post-container {
  display: flex;
}

.new-post-container > form {
  margin-right: 50px;
}

.new-post-container > form > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
